:root{
    --cor-de-fundo: #fff;
    --font-padrao: Arial, sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--font-padrao);
}

h1{
    background-color: aqua;
    color: blue;
}