.carrossel {
    background: var(--azul-degrade);
}

.carrossel__titulo{
    background: var(--branco);
    color: var(--laranja);
    text-align: center;
    text-transform: uppercase; /*deixar fonte maiúscula*/
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

/*deixar as imagens corretas*/
.swiper-slide{
    width: 100%; /*100% da largura da imagem*/
    text-align: center;
}

img{
    width: 60%; /*100% da largura da imagem*/
}

/*levar a paginação (bolinhas para cima)*/
.swiper{
    .swiper-pagination {
        position: initial; /*paginação acima das imagens*/
        margin: 0 0;
        background-color: var(--branco);
    }
}
