.contato{
    padding: 1em;
    background-color: var(--branco);
}

.contato__texto{
    background: var(--azul-degrade);
    -webkit-background-clip: text; /*saber que vai funcionar em todos os navegadores*/
    -webkit-text-fill-color: transparent; /*saber que vai funcionar em todos os navegadores*/
    background-clip: text; /*pega a cor e coloca no texto*/
}

.contato__titulo{
    font-weight: 700; /*negrito da fonte*/
    font-size: 20px;
    color: var(--laranja);
    margin-bottom: 1em;
    background-color: var(--branco);
    text-align: center; /*centralização do título*/
}

.contato__texto{
    font-weight: 300;
    margin: 1em 0;
}

.contato__email{
    padding: 0.5em 1em; /*espaçamento dentro do input*/
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 90%;
    color: var(--azul);
}
.contato__email::placeholder{
    color: var(--azul);
    font-weight: 300;
    background: url(/assets/Email.svg) no-repeat; /*inserir a imagem de fundo da lupa sem repetir*/
    background-position: 1em; /*posição da imagem de fundo*/
    text-align: center;
}

